<div class="card mx-auto col-lg-6 p-5 mt-5">
  <%= form_with(model: @movie, local: true) do |form| %>
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h6><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h6>
        <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li class="text-danger"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <label class="mb-2">Youtube URL:</label>
      <%= form.text_field :url, class: "form-control mb-2" %>
    </div>
    <div class="actions">
      <%= form.submit "Share", class: "btn btn-primary " %>
    </div>
  <% end %>
</div>
