<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <%= link_to root_path do %>
          <h2>Funny Movies</h2>
        <% end %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <% if user_signed_in? %>
          <div class="navbar-nav ml-auto">
            <span class="mt-2 mr-4">Welcome, <%= current_user.email %></span>
            <%= link_to "Share a movie", share_path, class: "form-inline btn btn-light mr-4" %>
          </div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-light" %>
        <% else %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="navbar-nav ml-auto">
              <div class="row">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control col-lg-6 mr-2" %>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", validate: true, class: "form-control col-lg-5" %>
              </div>
            </div>
            <%= f.submit "Login / Register", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
