<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container">
      <%= link_to root_path do %>
        <h2>
          <%= fa_icon "home", text: "Funny Movies" %>
        </h2>
      <% end %>
      <div style="display: flex">
        <% if user_signed_in? %>
          <div class="navbar-nav ml-auto">
            <span class="mt-2 me-2">Welcome, <%= current_user.email %></span>
            <%= link_to "Share a movie", share_path, class: "btn btn-primary me-2" %>
          </div>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark" %>
        <% else %>
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="navbar-nav ml-auto">
              <div class="row me-2">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "form-control me-2" %>
                <%= f.password_field :password, autocomplete: "current-password", placeholder: "password", validate: true, class: "form-control" %>
              </div>
            </div>
            <%= f.submit "Login / Register", class: "btn btn-outline-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<style>
  #user_email, #user_password {
    width: 220px;
    margin-right: 10px;
  }
</style>
